h1 Sign In
= form_for :sessions, url: sessions_path do 
  = label_tag :email
  = text_field_tag :email
  = label_tag :password
  = password_field_tag :password
  = submit_tag "Log In"

= link_to "New user", new_user_path