h1 Create new user
- if @user.errors.present?
  - @user.errors.each do |error|
    p = "Wrong #{error}"
= form_for @user do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.text_field :password
  = f.submit