h1 index#attachments

table
  thead
    tr
      td ID  
      td File
      td User email
  - @attachments.each do |item|
    tr
      td = item.id
      td = link_to item.file_identifier, item.file.url
      td = item.user.email

= form_for @attachment do |f|
  = f.file_field :file
  = f.submit